/* Fonts */
@font-face {
    font-family: "B Yekan";
    src: url(fonts/BYekan.eot) format('eot'), url(fonts/BYekan.ttf) format('truetype'),
    url(fonts/BYekan.woff) format('woff');
}
/* General Styles */
body{
    background: blanchedalmond url("bg1.png") fixed;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
a:hover{
    color: #aaaaaa;
}
h1,h2,h3,h4,h5{
    color: #000000;
}

img{
    border: none;
    max-width: 100%;
}
.clear{
    clear: both;
}

/* Main Container */
#main{
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    box-shadow: -2px -2px 3px #ddd;
}

/* Header */
#header{
    position: relative;
}

#header hgroup{
    position: absolute;
    top: 0;
    left: 0;
}
#header hgroup h1, #header hgroup h2 {
    margin: 0;
}

#header hgroup h1{
    font-size: 28px;
}
#header hgroup h1 a {
    color: #777;
}

#header hgroup h2 {
    font-size: 14px;
    color: #aaa;
}

#header nav{
    float: right;
    font-family: BYekan;
    direction: rtl;
}
#header nav ul {
    margin: 0;
    padding: 0;
}

#header nav ul li{
    display: inline-block;
    text-align: center;
    margin-left: 7px;
}

#header nav ul li a{
    background-color: #f9f9f9;
    border: 1px solid #E7EFF4;
    padding: 2px 20px;
    height: 100%;
    display: inline-block;
    border-radius: 3px;
}

#header nav ul li a:hover {
    background-color: #fff;
    border: 1px solid #bddbe4;
}

#header nav ul li a.current {
    background-color: #5BA6D6;
    border: 1px solid #6EA4C7;
    color: #fff;
}

/* Row2 and Slider */
.row2{
    margin-top: 30px;
}

.row2 #slider img {
    border-radius: 3px;
}

.row2 #slider img:hover {
    opacity: 0.7;
}

/* Sidebar */
.row2 #left_column{
    float: left;
    width: 30%;
    box-sizing: border-box;
}

#left_column nav ul li{
    list-style-image: url("list_orange.gif");
}

#left_column nav ul li:hover{
    list-style-image: url("list_black.gif");
}

#left_column nav ul li a {
    vertical-align: -3px;
}

#left_column h2.title:before{
    content: " :: ";
}

#left_column address {
    margin: 20px;
}


/* content */
.row2 #content {
    float: right;
    width: 68%;
    box-sizing: border-box;
}

.row2 #content article{
    position: relative;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 10px;
}

.row2 #content article:last-child {
    border-bottom: 0 !important;

}

.row2 #content article time{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #dbe7f2;
    border-radius: 3px;
    padding: 3px 5px;
    display: inline-block;
    font-size: 10px;
}
.row2 #content article footer {
    text-align: right;
}

#content article footer a {
    color: #fff;
    font-size: 12px;
    background-color: #D265C8;
    padding: 4px 10px;
    margin-right: 10px;
    border-radius: 3px 10px 10px 3px;
    transition: background-color 1s;
}

#content article footer a:hover {
    background-color: #e8e9e7;
}

/* Footer */
.row3{
    text-align: center;
    margin-top: 20px;
    border-top: 1px dashed #eee;
    padding-top: 10px;
    font-size: 11px;
    position: relative;
}

.row3 footer#foot p{
    margin: 0;
    padding: 0;
}

.row3 img.goUp{
    position: absolute;
    right: 0;
    bottom: 0;
}
.row3 img.goUp:hover {
    opacity: 0.5;
}



table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.blueTable tbody td {
    font-size: 13px;
}
table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
}
table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
}
table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
    border-left: none;
}

table.blueTable tfoot td {
    font-size: 14px;
}
table.blueTable tfoot .links {
    text-align: right;
}
table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}